#divId{
    	    height:100px;
	        width:400px;
    	    background:blue;
        	padding:50px;
        	border:2px white;
        	
}
#spanId{
        	font-size:18px;
}
.spanClass{
        	margin:50px;
}
.center {
    margin: auto
}

.divClass{
     align: center;
}

body {
    background-image: url("https://static.pexels.com/photos/56866/garden-rose-red-pink-56866.jpeg");
}
